/*body */

body {
    background-color: #F5F5F1;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif; 
}
.jumbotron{
   color: #155F83;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
     h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}

.responsive-image {
      height: auto;
      width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.main-text {
    font-size: 21px !important;
}

.middle-text {
    font-size: 17px;
}

p.middle-text {
    font-size: 17px;
}


.secondary-text {
    font-size: 15px;
}

div .secondary-text p {
    font-size: 14px !important;
}


/*nav panel */
#Nav a {
    color: #FFFFFF;
    background-color: #190033;
    text-decoration:none;
}
#Nav a:hover {
    color: #E0E0E0;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu {
     background-color: #190033;
     color:#ffffff;
}

/*s3*/

#tb-s3objects { width: 100% !Important; } 

/*footer */
.wrapper {
    text-align: center;
}
.counter {
    text-align: center;
}
.copyright {
    text-align: center;
}
.footer {
    text-align: center;
}
#footer {
    color: #FFFFFF;
    background-color: #C0C0C0;
}
.contact {
    text-align: center;
}

/*contact page */

address {
    display: block;
    font-style: italic;
}